.foto{
  position: relative;
}
.texto{
  font-size: 70px;
  font-weight: bold;
  text-align:
  color: white;
  bottom: 0px;
  margin: 0px;
  position: absolute;
}
body{
  font-family: helvetica;
  text-align: center;
}
.letras{
  font-size: 18px;
  color: white;
  text-align: center;
  line-height: 3;
}
h1,
h2,{
  font-weight: bold;
}

h1{
  font-size: 32px;
}
h2{
  font-size: 23px;
}
p{
  font-size: 14px;
}
.segunda{
  position: relative;
}
.palabras{
  font-size:23px;
  font-weight: bold;
  color: white;
  bottom: 0px;
  margin: 0px;
  position: absolute;
}
.todo{
  font-size: 11px;
  color:white;
  background-color: dimgray;
  text-align: right;
  border: 15;
  padding-right: 20;
  margin-right: auto;
}
