body {
  font-family: "Helvetica", sans-serif;
}
h1,
h2,
h3 {
  font-weight: negrita;
}
.foto{
  background-image: url("../imagenes/the-flatiron-building.png");
  text-align: center;
  color blanco;
}
.foto h1{
  font-size: 70px;
}
.btn-nav{
  font-size: 18px;
  color:white;
}
.figuras{
  text-align: center;
}
.figuras h2{
  font-size: 32px;
}
.figuras h3{
  font-size: 23px;
}
.figuras-feas p{
  font-size: 14px;
  }
  .foto h2{
    font-size: 23px;
  }
  .footer {
  background-color: dimgray;
  font-size: 11px;
  color: white;
}
